mixin sBlog(data)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			.block-panel.block-panel--left
				+b.section-title
					h2 Мы&nbsp;ведём видео-блог и&nbsp;именно эти 2&nbsp;видео клиенты выделяют как самые полезные
				.row
					.col-md-6.col-12
						+video('video-1.png')
					.col-md-6.col-12
						+video('video-2.png')
	// end sBlog