mixin sResults(data)
	// start sResults
	+b.SECTION.sResults.section#sResults&attributes(attributes)
		.container
			.block-panel.block-panel--right
				+pic("table.png",'bg')
				+e.content
					.section-title
						h2 Вы каждый день видите рост позиций от нашей работы
					ul 
						li Вы&nbsp;имеете доступ к&nbsp;таблице, где #[strong ежедневно обновляется KPI] по&nbsp;позициям и&nbsp;видно динамику

						li У&nbsp;вас есть гостевой доступ к&nbsp;SEO-сервису  #[strong на&nbsp;отслеживание роста позиций]

						li Вы&nbsp;согласовываете  #[strong 3-5 визуальных элемента ежемесячно] и&nbsp;наблюдаете как они появляются на&nbsp;сайте

						li  #[strong Вы&nbsp;ощущаете рост заявок] с&nbsp;сайта и&nbsp;звонков и&nbsp;видите точное их&nbsp;число в&nbsp;наших отчётах

						li Вы&nbsp;можете задавать вопросы с&nbsp;9:00-22:00&nbsp;ежедневно,  #[strong ответим максимум в&nbsp;течение часа]. Если что-то не&nbsp;понятно&nbsp;&mdash; объясним, если какая-то задача&nbsp;&mdash; решим.
	// end sResults