mixin footer()
	+b.FOOTER.footer
		.container
			.row

			.row
				.col-md-6
					.row
						.col-sm-6
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio? Provident asperiores pariatur odio tempora fugiat voluptatem perspiciatis, corporis reprehenderit velit qui dolorum rem vero officiis alias voluptatibus, ullam blanditiis?
						.col-sm-6
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio? Provident asperiores pariatur odio tempora fugiat voluptatem perspiciatis, corporis reprehenderit velit qui dolorum rem vero officiis alias voluptatibus, ullam blanditiis?
				.col-md-6
					.row
						.col-sm-6
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio? Provident asperiores pariatur odio tempora fugiat voluptatem perspiciatis, corporis reprehenderit velit qui dolorum rem vero officiis alias voluptatibus, ullam blanditiis?
						.col-sm-6
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio? Provident asperiores pariatur odio tempora fugiat voluptatem perspiciatis, corporis reprehenderit velit qui dolorum rem vero officiis alias voluptatibus, ullam blanditiis?