mixin sRews(data)
	// start sRews
	+b.SECTION.sRews.section#sRews&attributes(attributes)
		.container
			.block-panel.block-panel--right
				+b.section-title.text-center
					h2 Со&nbsp;всеми, кто дал отзывы ниже мы&nbsp;работаем <br />много лет и&nbsp;по&nbsp;сей день
				+e.block
					mixin sRews-item(v,m,f)
						+e.row-feedback.row
							.col-lg-6.col-12
								+video(v+'.png')
							.col-lg-6.col-12
								.row.row-caption
									+e.caption
										.cap-1
											.caption-title Дословные выдержки из&nbsp;видео-отзыва:
											.caption-main-text!=m
										.cap-2
											.caption-footer!=f
											.caption-marks ,,
					+sRews-item('rews-1',`Благодаря компании &laquo;Новые клиенты&raquo; мы&nbsp;постоянно внедряем новые технологии, новые инструменты на&nbsp;сайт и&nbsp;<span>получаем ещё большее количество заказов.</span>`,`Отзыв о&nbsp;Андрея Краснова, основателя компании <br />инженерных систем для загородных домов &laquo;Eco Life&raquo;`)
					+sRews-item('rews-2',`Поменяли порядка 5&nbsp;подрядчиков по&nbsp;SEO. Огромным плюсом при взаимодействии с&nbsp;компанией &laquo;Новые Клиенты&raquo; стало понимание руководителя компаии Сергея о&nbsp;проблемах нашей компании. <br /><br />Работаем <span>на&nbsp;протяжении 1,5-2&nbsp;лет, я&nbsp;работой очень доволен,</span> всегда видно профессионализм, скорость реакции, общение на&nbsp;одном языке, <span>нет такого, что я&nbsp;не&nbsp;понимаю что мне объясняют.</span> <br /><br />Прекрасно понимаю, что над моим проектом работает целая команда, знаю специалистов. Результатом мы&nbsp;довольны, с&nbsp;помощью компании <span>мы&nbsp;полностью изменили сайт,</span> определились с&nbsp;тем как мы&nbsp;будем позиционировать наш продукт клиенту, ребята нам в&nbsp;этом помогают.`,`Отзыв от&nbsp;Бондаренко Евгения, генерального директора<br />строительной компании &laquo;Iamdom&raquo;`)
					+sRews-item('rews-3',`С&nbsp;компанией &laquo;Новые клиенты&raquo; <span>работаем уже примерно 5&nbsp;лет.</span> Они занимаются продвижением нашего сайта, его раскруткой и&nbsp;контекстной рекламой.<br /><br /><span>Ребят не&nbsp;нужно контролировать,</span> они чётко знают свою работу. С&nbsp;самого начала они изменили дизайн сайта, что сразу&nbsp;же увеличило количество звонков. <br /><br />На&nbsp;сегодняшний день мы&nbsp;продолжаем работать и&nbsp;развивать наш ресурс по&nbsp;всем направлениям.<br /><br /><span>Рекомендую как надёжного партнёра</span> в&nbsp;сфере привлечения новых клиентов и&nbsp;продвижения компании на&nbsp;рынке.`,`Отзыв от&nbsp;ИМЯ ФАМИЛИЯ, генерального директора <br />строительной компании &laquo;Дом навек&raquo;`)
					+sRews-item('rews-4',`С&nbsp;компанией &laquo;Новый клиенты&raquo; работаем несколько лет.<br /><br /><span>За&nbsp;4&nbsp;месяца полностью обновлили наш сайт и&nbsp;вывели на&nbsp;первые позиции самые важные запросы.</span><br /><br />Компания очень надёжная и&nbsp;быстро реагирует на&nbsp;все вопросы.<br />`,`Отзыв от&nbsp;ИМЯ ФАМИЛИЯ, <br />основателя компании &laquo;Автоком&raquo;`)
					+sRews-item('rews-5',`С&nbsp;компанией &laquo;Новый клиенты&raquo; сделали многостраничный сайт. На&nbsp;данный момент начинаем заниматься его продвижением.<br /><br /><span>Сайт сделали за&nbsp;2-3&nbsp;месяца, сайт всем нравится.</span><br /><br />Нашим проектом руководил Сергей. На&nbsp;все наши пожелания, комментарии и&nbsp;правки реагировал оперативно и&nbsp;всегда предлагал наилучшее решение не&nbsp;только для нас, но&nbsp;и&nbsp;для наших клиентов, которые будут пользоваться сайтом.<br /><br />Есть ощущение, что <span>Сергей не&nbsp;просто делает, что ему скажешь,</span> а&nbsp;пытается прибавить нам клиентов.<br />`,`Отзыв от&nbsp;Константина, <br />руководителя компании &laquo;Простая Геодезия&raquo;`)
				+e.slider-wrap
					+e.slider--js.swiper-container
						.swiper-wrapper
							- for (var x = 0; x < 12; x++)
								.swiper-slide
									+e.img-wrap(data-fancybox='ref' href="img/@2x/rews-letter.png")
										+pic('rews-letter.png','',0)
					+arrow
				+e.btn(href="#") Пройти тест и&nbsp;рассчитать стоимость SEO-продвижения
	// end sRews