
mixin modal()  
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.h5.strong.mb-3 Оставьте ваш номер телефона и&nbsp;мы перезвоним вам  в&nbsp;течение 30&nbsp;минут

			+input("+7 (___) ___-__-__",'tel')(required)  
			+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-call
	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+b.form-wrap
			.text-center
				+e.title.h5.fw-400 Спасибо! Ваш номер успешно получен!
				+e.title.h5.fw-400 Мы&nbsp;#[strong обязательно] перезвоним вам
				.small.text-secondary.mb-3 Рабочие часы 09:00-20:00 пн-пт, если 
					br
					| сейчас мы&nbsp;не&nbsp;работаем, наберём 
					br
					| когда откроемся
			+e.BUTTON.btn.btn.modal-close-js(type="submit"  ) закрыть
	// #modal-thanks
	+b.modal-win(id="modal-time" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.h5.strong.mb-3 Выберите  <br> удобное время
				.small.text-secondary.mb-3 Часовой пояс Москва
			+input("09:00",'select') 
			+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-time
	+b.modal-win--lg(id="modal-gift" class=" " style="display: none" )
		+form-wrap
			.row
				.col-7.d-none.d-md-block
					+pic("list-lg.png",'',0).picture-modal-list
				.col
					//- .text-center
					+e.title.h4.strong.mb-3 Не&nbsp;уходите без подарка!
					.small.text-secondary.mb-3 
						strong.text-body Получите бесплатно руководство по&nbsp;вычислению некачественных  подрядчиков по&nbsp;SEO-продвижению 
						| Руководство откроется сразу после 
						| указания номера телефона
					//- +input("09:00",'select') 
					+input("+7 (___) ___-__-__",'tel')(required)  
					+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-gift
	+b.modal-win--lg.--price(id="modal-price" class=" " style="display: none" )
		+form-wrap
			.row
				.col
					//- .text-center
					+e.title--price.h4.strong.mb-3 Ответьте на&nbsp;4&nbsp;вопроса,<br />чтобы узнать стоимость продвижения вашего сайта
					.small.text-secondary.mb-1
						strong.text-body И&nbsp;получите&nbsp;12% скидку, и&nbsp;2&nbsp;подарка:
					+e.UL.checklist
						li чек-лист для проверки SEO на&nbsp;сайте;
						li информацию, как поднять конверсию на&nbsp;сайте в&nbsp;3&nbsp;раза.
					+e.BUTTON.btn.btn(type="button") Узнать стоимость продвижения
					+e.bonus
						+e.bonus-caption бонусы после прохождения теста
						+pic('modal-price-1.png','',0)
				.col-6.d-none.d-md-block
					+e.modal-price-pic
						+pic('modal-price-2.png','',0)
						+e.name Кудрявцев Сергей
						+e.post Руководитель компании
	// #modal-gift
	+b.modal-win--xl(id="modal-feedback" class=" " style="display: none" )
		+form-wrap
			.row
				.col.col-feedback
					//- .text-center
					+e.title--price.h4.strong.mb-3 Спасибо за&nbsp;доверие!<br />Ваши ответы и&nbsp;контакты успешно получены
					+e.feedback-caption Мы&nbsp;обязательно свяжемся с&nbsp;вами по&nbsp;телефону, чтобы задать уточняющие вопросы.<br /><br />Не&nbsp;всю информацию можно собрать через квиз, поэтому мы&nbsp;проводим полноценную телефонную консультацию.
					+e.BUTTON.btn--xl.btn(type="button") Узнать стоимость продвижения
					+e.note Если вы&nbsp;не&nbsp;уверенны правильно&nbsp;ли ввели номер телефона, оставьте его снова по&nbsp;кнопке ниже
					+e.BUTTON.btn--grey.btn отправить телефон снова
				.col-7.d-none.d-lg-block
					+e.big-title Ваши подарки!
					+e.btn--pdf.btn(href='#') Открыть PDF
					+e.feedback-caption2 Для получения аудита с&nbsp;вами свяжется наш специалист по&nbsp;телефону
					+icon('feedback-arrow').feedback-arrow
					+pic('feedback-paper','',0).feedback-paper
			img(src='img/bg-feedback.png').bg-feedback
	// #modal-gift
	
	// end modals