
mixin modal()  
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.h5.strong.mb-3 Оставьте ваш номер телефона и&nbsp;мы перезвоним вам  в&nbsp;течение 30&nbsp;минут

			+input("+7 (___) ___-__-__",'tel')(required)  
			+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-call
	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+b.form-wrap
			.text-center
				+e.title.h5.fw-400 Спасибо! Ваш номер успешно получен!
				+e.title.h5.fw-400 Мы&nbsp;#[strong обязательно] перезвоним вам
				.small.text-secondary.mb-3 Рабочие часы 09:00-20:00 пн-пт, если 
					br
					| сейчас мы&nbsp;не&nbsp;работаем, наберём 
					br
					| когда откроемся
			+e.BUTTON.btn.btn.modal-close-js(type="submit"  ) закрыть
	// #modal-thanks
	+b.modal-win(id="modal-time" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.h5.strong.mb-3 Выберите  <br> удобное время
				.small.text-secondary.mb-3 Часовой пояс Москва
			+input("09:00",'select') 
			+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-time
	+b.modal-win--lg(id="modal-gift" class=" " style="display: none" )
		+form-wrap
			.row
				.col-7.d-none.d-md-block
					+pic("list-lg.png",'',0).picture-modal-list
				.col
					//- .text-center
					+e.title.h4.strong.mb-3 Не&nbsp;уходите без подарка!
					.small.text-secondary.mb-3 
						strong.text-body Получите бесплатно руководство по&nbsp;вычислению некачественных  подрядчиков по&nbsp;SEO-продвижению 
						| Руководство откроется сразу после 
						| указания номера телефона
					//- +input("09:00",'select') 
					+input("+7 (___) ___-__-__",'tel')(required)  
					+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-gift
	+b.modal-win--qwiz.p-0(id="modal-qwiz" class=" " style="display: none" )
		form
			+b.form-wrap.active
				.row.gx-0
					.col-lg-8
						+b.modal-left
							mixin item(t,w,st)
								+e.step(data-stock= st)&attributes(attributes)
									+e.head= t
									+e.body
										block
									+e.footer
										.row
											.col
												+e.progress-text Готово #[span= w]%
												+b.progress
													+e.bar(style=`width: ${w}%;`)
											.col-auto
												+e.btn--prev.btn-light(type="button")
													+icon("arrow-left")
											.col-auto
												+e.btn--next.btn-gradient(type="button") далее
							mixin radio(t,n)
								+b.LABEL.custom-radio
									input(type="radio", name= n)
									+e.block
										+e.circle
										= t

							+item('В каком регионе вам нужно продвинуть сайт?',0, 0).active
								+radio('Москва','radio-city')
								+radio('Санкт-Петербург','radio-city')
								+radio('Город миллионник','radio-city')
								+radio('Продвижение в нескольких регионах','radio-city')
								+radio('Продвижение по всей России','radio-city')
								+radio('Пока точно не знаю, нужна консультация','radio-city')
							+item('Какой у Вас сайт?','25',3)
								+radio('Одностраничный лендинг','radio-site')
								+radio('Многостраничный сайт','radio-site')
								+radio('Затрудняюсь с ответом','radio-site')
							+item('Какая тематика у Вашего сайта?','50',6)
								+radio('Ремонт','radio-theme')
								+radio('Недвижимость','radio-theme')
								+radio('Услуги населению','radio-theme')
								+radio('Строительство','radio-theme')
								+radio('Услуги для бизнеса','radio-theme')
								+radio('Медицина','radio-theme')
								+radio('Другое','radio-theme')
							+item('Вы хотите "SEO-под ключ"  или у Вас есть программист, который будет вносить изменения по нашкму ТЗ?','75',9)
								+radio('Будет работать наш программист','radio-prog')
								+radio('SEO под ключ','radio-prog')
					.col
						+b.modal-right
							+e.head
								+e.stock Ваша скидка #[span 0]%
							+e.body
								+b.seo
									+e.avatar
										+pic("avatar.png",'',0)
									div
										.fw-500 Анастасия Королькова
										.text-secondary SEO-специалист
								p.text-secondary Если ваш бизнес ориентирован на какой-то регион, то продвигать сайт надо по геозависимым запросам — ключевым словам, которые привязаны к этой территории, так как пользователи ищут услуги или товары по таким запросам, и рассчитывают увидеть на странице поиска местные компании.
							+e.footer
			+b.form-wrap
				.row
					.col-lg-7
						+b.modal-left 
							+e.footer.pb-5
								.row
									.col-7
										+e.progress-text.smallest Отлично, последний шаг, 95%
										+b.progress
											+e.bar(style=`width: 95%;`)
							.h4.mb-3 Спасибо за&nbsp;Ваши ответы, мы&nbsp;уже готовим результат.

							.h6.mb-3 Укажите Ваш номер телефона, на&nbsp;него вы&nbsp;получите расчет, а&nbsp;также за&nbsp;номером закрепим скидку и&nbsp;аудит

							.h6.text-secondary.mb-3 Ваши бонусы
							+pic("feedback-paper.jpg").last-img.d-none.d-lg-block
					.col
						+b.modal-right--form
							+e.head
								+e.stock Ваша скидка   9%
							+e.form
								+b.mass
									+e.LABEL.item(style="--color:#05c847") 
										input(type="radio" name="soc" value='whatsapp' checked)
										+icon('whatsapp')
										
									+e.LABEL.item(style="--color:#7e499f") 
										input(type="radio" name="soc" value='viber')
										+icon('viber')
									+e.LABEL.item(style="--color:#00a1e7;") 
										input(type="radio" name="soc" value='telegram')
										+icon('telegram')
									//- +e.LABEL.item(style="--color: #1e97f6") 
									//- 	input(type="radio" name="soc" value='direct')
									//- 	+icon('direct')

								+input("+7 (___) ___-__-__",'tel')(required)  
								+e.BUTTON.btn.btn.btn-gradient(type="submit"  )  Отправить 
								+policy

								
	// #modal-qwiz
	+b.modal-win--lg.--price(id="modal-price" class=" " style="display: none" )
		+b.form-wrap
			.row
				.col
					//- .text-center
					+e.title--price.h4.strong.mb-3 Ответьте на&nbsp;4&nbsp;вопроса,<br />чтобы узнать стоимость продвижения вашего сайта
					.small.text-secondary.mb-1
						strong.text-body И&nbsp;получите&nbsp;12% скидку, и&nbsp;2&nbsp;подарка:
					+e.UL.checklist
						li чек-лист для проверки SEO на&nbsp;сайте;
						li информацию, как поднять конверсию на&nbsp;сайте в&nbsp;3&nbsp;раза.
					+e.btn.btn.btn-qwiz( type="button") Узнать стоимость продвижения
					+e.bonus
						+e.bonus-caption бонусы после прохождения теста
						+pic('modal-price-1.png','',0)
				.col-6.d-none.d-md-block
					+e.modal-price-pic
						+pic('modal-price-2.png','',0)
						+e.name Кудрявцев Сергей
						+e.post Руководитель компании
	// #modal-gift
	+b.modal-win--xl(id="modal-feedback" class=" " style="display: none" )
		+form-wrap
			.row
				.col.col-feedback
					//- .text-center
					+e.title--price.h4.strong.mb-3 Спасибо за&nbsp;доверие!<br />Ваши ответы и&nbsp;контакты успешно получены
					+e.feedback-caption Мы&nbsp;обязательно свяжемся с&nbsp;вами по&nbsp;телефону, чтобы задать уточняющие&nbsp;вопросы.<br /><br />Не&nbsp;всю информацию можно собрать через&nbsp;квиз, поэтому мы&nbsp;проводим полноценную&nbsp;телефонную консультацию.
					+e.BUTTON.btn--xl.btn(type="button") выбрать время для звонка
					+e.note Если вы&nbsp;не&nbsp;уверенны правильно&nbsp;ли ввели номер телефона, оставьте его снова по&nbsp;кнопке ниже
					+e.BUTTON.btn--grey.btn отправить телефон снова
				.col-7.d-none.d-lg-block.ps-5
					+e.big-title Ваши подарки!
					+e.btn--pdf.btn(href='#') Открыть PDF
					+e.feedback-caption2 Для получения аудита с&nbsp;вами свяжется наш специалист по&nbsp;телефону
					+icon('feedback-arrow').feedback-arrow
					+pic('feedback-paper','',0).feedback-paper
			img(src='img/bg-feedback.png').bg-feedback
	// #modal-gift
	
	// end modals