
mixin modal()  
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.h5.strong.mb-3 Оставьте ваш номер телефона и&nbsp;мы перезвоним вам  в&nbsp;течение 30&nbsp;минут

			+input("+7 (___) ___-__-__",'tel')(required)  
			+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-call
	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+b.form-wrap
			.text-center
				+e.title.h5.fw-400 Спасибо! Ваш номер успешно получен!
				+e.title.h5.fw-400 Мы&nbsp;#[strong обязательно] перезвоним вам
				.small.text-secondary.mb-3 Рабочие часы 09:00-20:00 пн-пт, если 
					br
					| сейчас мы&nbsp;не&nbsp;работаем, наберём 
					br
					| когда откроемся
			+e.BUTTON.btn.btn.modal-close-js(type="submit"  ) закрыть
	// #modal-thanks
	+b.modal-win(id="modal-time" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.h5.strong.mb-3 Выберите  <br> удобное время
				.small.text-secondary.mb-3 Часовой пояс Москва
			+input("09:00",'select') 
			+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-time
	+b.modal-win--lg(id="modal-gift" class=" " style="display: none" )
		+form-wrap
			.row
				.col-7.d-none.d-md-block
					+pic("list-lg.png",'',0).picture-modal-list
				.col
					//- .text-center
					+e.title.h4.strong.mb-3 Не&nbsp;уходите без подарка!
					.small.text-secondary.mb-3 
						strong.text-body Получите бесплатно руководство по&nbsp;вычислению некачественных  подрядчиков по&nbsp;SEO-продвижению 
						| Руководство откроется сразу после 
						| указания номера телефона
					//- +input("09:00",'select') 
					+input("+7 (___) ___-__-__",'tel')(required)  
					+e.BUTTON.btn.btn(type="submit"  )  Отправить 
	// #modal-gift
	
	// end modals