.pixel-perfect {
	// top: 5px;
	top: -20px;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	opacity: 0.7;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 320px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	header::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		header::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper { 
	// display: flex;
	// flex-direction: row; 
	// overflow: scroll;
	width: 100%; 
	overflow: hidden;
	position: relative;
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	
	
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }






.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}
h2{
	font-weight: 800;
	@extend .mono;
	line-height: 1.35;
}
.section-title {
	padding-bottom: var(--sTPB);

	p {
		font-weight: 300; 
	}
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	// border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	// box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;
	text-align: center;
	line-height: var(--swiperArrowSize);
	vertical-align: middle;
	&.swiper-button-disabled{
		opacity: 0.4;
		pointer-events: none;
	}

	&:hover {
		background-color: var(--swiperBgDefHover);
		// border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(16);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #E6E6E6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }



.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}


.btn{
	font-weight: 500;
}
.btn-outline{
	border: 2px solid $primary;
	text-transform: uppercase;
	
	text-transform: uppercase;
	letter-spacing: 0.73px;
	&:hover{
		color: $success;
		border-color: $success;
	}
	&:focus{
		color: #fff;
		background-color: $success;
		border-color: $success;
	}
}


.btn-gradient{
	box-shadow: 6px 3px $small 3px rgba(81, 173, 64, 0.2);
	// background-color: $body-colot;
	background-image: linear-gradient(to top, #4fad3f 0%, #70b946 100%);
	color: #fff !important;
	text-transform: uppercase;
	&:hover{ 
		background-image: linear-gradient(to top, #70b946 0%, #4fad3f 100%);
	}
}
.btn-y {
	text-transform: uppercase;
	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 6px 3px $small 3px rgba(233, 199, 49, 0.2); 
	background-color: $body-color;
	background-image: linear-gradient(to top, #e9b731 0%, #e9cd31 100%);
	&:hover{ 
		background-image: linear-gradient(to bottom, #e9b731 0%, #e9cd31 100%); 
	}
}

.btn-dark,
.btn-gradient {
	border-radius: 9px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: rem(68);
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-size: 12px;

}

.btn-dark{
	letter-spacing: 0.8px;
	background-color: $body-color;
	color: #fff;
	@include mt;
	border: 1px solid $body-color;
	box-shadow: none !important;
	&:hover{
		background-color: #e9bd31 !important;
		border-color: #e9bd31 !important;
		color: $body-color;
	}
}

.block-panel{
	background-color: #fff;
		@include media-breakpoint-up(lg) {
			padding-top: rem(105);
			padding-bottom: rem(105);
			
		}
		padding-top: rem(50);
		padding-bottom: rem(50);
	--p-x: #{rem(142)};
	position: relative;
	&::before{
		content: '';
		background-color: #fff;
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100%;
	}
	&--right{
		border-radius: 60px 0 0 60px;
		padding-left: var(--p-x);
		margin-left: calc(-1 * var(--p-x));
		&::before{
			left: calc(100% - 1px);
		}
	}
	&--left{
		--p-x: #{rem(183)};
		border-radius: 0 60px 60px 0;
		padding-right: var(--p-x);
		margin-right: calc(-1 * var(--p-x));
		&::before{
			right: calc(100% - 1px);
		}
	}
}

.fw-400{
	font-weight: 400;
}



.button-up {
	background: #406295;
	border-radius: 50%;
	bottom: 120px;
	cursor: pointer;
	display: none;
	height: 40px;
	position: fixed;
	right: 20px;
	width: 40px;
	z-index: 10;
}

.button-up:before {
	background: url(/images/button-up.png)no-repeat;
	bottom: 0;
	content: '';
	height: 20px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
}


.icon-watsapp { 
	color: #2c8c03;
}

// .footer__btn {
// 	padding: 0;
// }

// .footer__btn a {
// 	display: block;
// 	color: #fff;
// 	padding: .65625rem;
// }

// .footer__btn a:hover {
// 	color: #66b544;
// }