mixin sSeeForYourself(data)
	// start sSeeForYourself
	+b.SECTION.sSeeForYourself.section#sSeeForYourself&attributes(attributes)
		.container
			.block-panel.block-panel--right
				.row

					+e.col.col-xl-6
						+b.section-title 
							h2 Убедитесь сами, что мы&nbsp;действительно знаем  как #[span вывести вас в&nbsp;ТОП]
						p Ни&nbsp;одна компания не&nbsp;просила нас о&nbsp;возврате средств за&nbsp;SEO, но&nbsp;мы&nbsp;документально даём вам эту возможность для вашего спокойствия

						p Для нашего SEO не&nbsp;существует вопроса &laquo;Будет&nbsp;ли результат&raquo;, есть лишь вопрос &laquo;Когда?&raquo;
						+e.btn(href="#") Спрогнозировать когда будут первые клиенты с SEO
					.col.align-self-end.order-xl-first
						+e.cotract
							+pic("contract-img.png")
							+e.contract-text 2.6.	Исполнитель обязуется вернуть деньги заказчику в&nbsp;течении первых 1,5 месяцев работы, если сотрудничество не&nbsp;понравилось, но&nbsp;не&nbsp;более 54&nbsp;000&nbsp;руб. (пятьдесят четыре тысячи рублей 00&nbsp;коп.)
								em Отрывок из договора
	// end sSeeForYourself