// start .sGoTest
.sGoTest {
	--sPT: #{rem(40)};
	--sPB: #{rem(55)};
	--sTPB: 0;
	position: relative;
	overflow: hidden;
	background-color: $body-color;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
		height: 100%;
		padding-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			padding-bottom: 0;
			align-items: flex-start;
		}
	}
	.section-title {
		color: $white;
		@include media-breakpoint-up(sm) {
			max-width: rem(440);
		}
		@include media-breakpoint-up(md) {
			max-width: rem(660);
		}
		@include media-breakpoint-up(lg) {
			max-width: rem(430);
		}
		@include media-breakpoint-up(xl) {
			max-width: rem(480);
		}
		h2 {
			margin-bottom: rem(40);
			span {
				position: relative;
				img {
					@media (max-width: 350px) {
						display: none;
					}
					position: absolute;
					width: rem(50);
					max-width: 100%;
					height: auto;
					left: 110%;
					top: 0;
					right: auto;
					bottom: auto;
					@include media-breakpoint-up(sm) {
					width: rem(70);
					}
					@include media-breakpoint-up(xl) {
						bottom: 0;
						top: auto;
					}
				}
			}
		}
		p {
			font-weight: 300;
			max-width: rem(360);
			margin-bottom: rem(40);
			// margin-left: auto;
			// margin-right: auto;
			// @include media-breakpoint-up(xl) {
			// 	margin-left: 0;
			// 	margin-right: 0;
			// }
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-gradient;
		width: 100%;
		max-width: rem(400);
	}
	&__img-wrap {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(671);
		align-self: center;
		picture {
			@include media-breakpoint-up(lg) {
				margin-left: calc(-1 * var(--bs-gutter-x));
				margin-right: calc(-1 * var(--bs-gutter-x));
			}
			@include media-breakpoint-up(xl) {
				margin-right: 0;
			}

			@media (min-width: 1400px) {
				margin-right: -12.33%;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sGoTest
