mixin sTarifs(data)
	// start sTarifs
	+b.SECTION.sTarifs.section#sTarifs&attributes(attributes)
		+e.first
			.container
				+e.content
					+pic("tarif.png",'',0)
					+b.section-title
						h2 Здесь должны быть тарифы, но&nbsp;мы&nbsp;против бездумного шаблонного подхода
					p Ваша голова и&nbsp;так наверняка пухнет от&nbsp;попыток понять как не&nbsp;ошибиться при покупке SEO.

					p Это нормально, ведь даже начинающему SEO-специалисту сложно понять каких действий будет достаточно для целей предпринимателя.

					p Наши тарифы начинаются от&nbsp;26&nbsp;т.р.&nbsp;и&nbsp;мы&nbsp;будем рады помочь вам выбрать самый выгодный тариф под ваши цели.

					h4 Пройдите тест, мы&nbsp;подберём для вас максимально подходящий тариф
					.small + выведем окно важных для вас отличий тарифов с&nbsp;ценами
				+e.btns
					+e.btn.btn-gradient(href="#") Пройти тест и узнать какой тариф мне подходит
					+e.btn.btn-dark(type="button")  Не хочу проходить тест - Показать тарифы
				.small Прохождение теста ни к чему не обязывает
		+e.second
			.container
				+b.section-title.text-center
					h2 Выберите удобный вам тариф  <br> или воспользуйтесь нашей помощью в&nbsp;подборе
					p 
						strong В&nbsp;тарифы уже включены все платежи и&nbsp;даже бюджет на&nbsp;продвижение 
						br
						|  Если у&nbsp;вас ещё нет сайта, мы&nbsp;можем сделать его сами, стоимость не&nbsp;отражена в&nbsp;тарифах, просто пройдите тест
				.row
					mixin item(data)
						+e.col.col-lg-3.col-sm-6
							+b.tarif-item&attributes(attributes)
								+e.panel
									+e.head
										+e.img-wrap
											+pic(`tarif-${data.i}.pnd`,'',0)
										+e.title!= data.title
										p!= data.p
									+e.body
										ul
											- var list = data.lists
											each item in list
												li!= item
										- var list2 = data.lists2
										if data.lists2
											ul.ul2
												each item in list2
													li!= item
								+e.price= data.price
								+e.btn(href="#") Интересует тариф,  <br> узнать точную стоимость
					+item({
						i:`1`,
						title:`Тариф “Команда”`,
						p:`Для сайтов с&nbsp;каталогом до&nbsp;1000&nbsp;позиций, если у&nbsp;вас в&nbsp;штате есть свой программист`,
						lists: [
							`Неограниченное число поисковых запросов`,
							`Внутренняя оптимизация`,
							`Внешняя оптимизация`,
							`Написание контента`,
							`Визуальные доработки для сайта и&nbsp;расширение его структуры`,
							`Регистрация в&nbsp;каталогах`,
							`Подготовка макетов и&nbsp;баннеров`,
							`Подготовка планов и&nbsp;отчётов`,
							`Подготовка ТЗ&nbsp;для вашего программиста`,
							], 
						price:`от 26 т.р.`
					})
					+item({
						i:`2`,
						title:`Тариф “Оптимум”`,
						p:`Для сайтов с&nbsp;каталогом до&nbsp;1000&nbsp;позиций, все работы делаем&nbsp;мы`,
						lists: [
							`Всё то же самое что в тарифе "Команда" +`,
							
							],
						lists2:[`Наш специалист добавляет контент`,
							`Техническая оптимизация`,
							`Аналитика`,
							`Техническая поддержка сайта`],
						price:`от 34 т.р.`
					})
					+item({
						i:`3`,
						title:`Тариф “Мега”`,
						p:`Для сайтов с&nbsp;каталогом от&nbsp;1000 позиций`,
						lists: [
							`Всё то же самое что в тарифе "Оптимум" +`,
							
							],
							lists2:[
							`Техническая поддержка сайта`,
							`Доп. часы работы программиста`,
							`Доп. часы специалиста по&nbsp;контенту`,
							`Доп. часы аналитика`,],
						price:`от 64 т.р.`
					})
					+item({
						i:`4`,
						title:`Тариф &laquo;Больше, чем SEO&raquo;`,
						p:`Берём на&nbsp;себя не&nbsp;только SEO, но&nbsp;и&nbsp;комплекс более широких задач интернет-маркетинга`,
						lists: [
							`Всё то же самое что в тарифе "Мега" +`,
							
							],
							lists2:[`E-mail маркетинг`,
							`Коллтрекинг`,
							`Электронная коммерция`,
							`Общение напрямую с&nbsp;SEO специалистами`,
							`20&nbsp;тыс.&nbsp;на&nbsp;ведение контекстной рекламы Yandex и&nbsp;Google (включено)`,
							`Публикация постов в&nbsp;соц. сети`,],
						price:`от 128 т.р.`
					})
				+e.btns.text-center
					.h5 Пройдите тест, мы&nbsp;подберём для вас тариф или разработаем уникальный
					+e.btn.btn-gradient(href="#") Пройти тест и&nbsp;узнать какой тариф мне подходит 
	// end sTarifs