mixin sLogos(data)
	// start sLogos
	+b.SECTION.sLogos.section#sLogos&attributes(attributes)
		.container
			h2 Эти компании уже сотрудничают с&nbsp;нами
			+e.logos
				.row
					mixin logos(i)
						.col-xl-2.col-lg-3.col-md-4.col-6
							+e.logo-wrap
								+pic(`logos-${i}.png`,'',0)
					+logos(1)
					+logos(2)
					+logos(3)
					+logos(4)
					+logos(5)
					+logos(6)
					+logos(7)
					+logos(8)
					+logos(9)
					+logos(10)
					+logos(11)
					+logos(12)
	// end sLogos