mixin sAnswers(data)
	// start sAnswers
	+b.SECTION.sAnswers.section#sAnswers&attributes(attributes)
		.container
			.row
				.col-md-6.col-sm-7
					+b.section-title
						h2 У нас есть  достойные ответы
					p Так как за&nbsp;последние 1,5 года работы от&nbsp;нас не&nbsp;ушёл ни&nbsp;один клиент
				.col.align-self-end
					+pic(`phone.png`,'',0)
				
	// end sAnswers