// start .sAnswers
.sAnswers {
	background-color: $primary;
	position: relative;
	z-index: 6;
		--sPT: 0;
		--sPB: 0;
		// --sTPB: ;
		.row{
			align-items: center;
		}
		h2{
			color: #fff;
			max-width: rem(370);
		}
		p{
		max-width: rem(362);
		border-radius: $border-radius;
		background-color: #ffffff;
		position: relative;
		padding: rem(19) rem(28) rem(19) rem(52);
		font-weight: 300;
		&::before{
			content: var(--alert);
			position: absolute;
			left: rem(18);
			top: rem(19);
		}
	}
	picture{
		position: relative;
		margin-top: rem(-72);
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAnswers