.menu{
	@include media-breakpoint-up(lg){
		display: flex;
		@include roww(40px);
	}
	list-style: none;
	@include media-breakpoint-up(xl){
		--bs-gutter-x: 60px;
	}
	position: relative;
	margin-bottom: 0; 
	li{
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		@include media-breakpoint-up(lg){
		text-align: center;
		}
		@include media-breakpoint-up(xl){
		padding: rem(10) 30px;
	}
	padding: rem(10) 20px;

		color: #282828; 
		font-size: 11px;
		font-weight: 500; 
		text-transform: uppercase; 
		letter-spacing: 0.73px; 
	}
}