mixin sOurSEO(data)
	// start sOurSEO
	+b.SECTION.sOurSEO.section#sOurSEO&attributes(attributes)
		.container
			.row
				.col-lg-6.align-self-end
					+b.section-title 
						h2 Наш SEO стабилизирует результаты вашего  бизнеса и&nbsp;обеспечит ежемесячный рост
					+pic("sOurSEO-img.png")
				.col
					ul 
						li 
							img(src="img/svg/seo-i-.svg", alt="")
							strong Результаты от&nbsp;нашего SEO достаточно стабильны и&nbsp;подвержены лишь небольшим колебаниям
							| SEO позволяет выйти из&nbsp;постоянной беготни за&nbsp;новыми клиентами и&nbsp;скачками оборотов. Вы&nbsp;плавно растёте из&nbsp;месяца в&nbsp;месяц. Некоторые наши клиенты с&nbsp;нами уже более 8&nbsp;лет
						li 
							img(src="img/svg/seo-i-2.svg", alt="")
							strong SEO является выходом из&nbsp;огромных расходов  на&nbsp;контекст
							| Клик в&nbsp;нише ремонта по&nbsp;1-2 рубля это миф? Нет, это наша реальность, реальность нашего продвижения в&nbsp;SEO
						li 
							img(src="img/svg/seo-i-3.svg", alt="")
							strong SEO&nbsp;&mdash; это навсегда, так как мы&nbsp;используем только белые методы продвижения
							| Даже если вы&nbsp;перестанете платить нам в&nbsp;какой-то момент, ваш сайт уже не&nbsp;упадёт в&nbsp;чертоги поисковиков. Плавно сайт опустится ниже ТОПа, но&nbsp;по&nbsp;каким-то запросам останется наверху благодаря качественной оптимизации
	// end sOurSEO