.soc {
	@include roww(9px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		width: rem(41);
		height: rem(41);
		border-radius: $border-radius;
		background-color: $body-color;
		color: #888888;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			color: $white;
		}
	}
	.icon {
		font-size: rem(30);
	}
	.icon-vkontakte {
		font-size: rem(11);
	}
	.icon-facebook {
		font-size: rem(19);
	}
	.icon-youtube {
		font-size: rem(20);
	}
	.icon-instagram {
		font-size: rem(15);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}
