mixin sTest(data)
	// start sTest
	+b.SECTION.sTest--new.section#sTest&attributes(attributes)
		.container
			.block-panel.block-panel--right
				+pic("test.png",'bg')
				+e.content
					.section-title
						h2 Пройдите тест и&nbsp;получите прогноз результатов для вашей ниши
						p Мы&nbsp;не&nbsp;работаем со&nbsp;всеми подряд и&nbsp;берём только  те&nbsp;проекты, где уверенны в&nbsp;результате
					+e.btn(href="#") Пройти тест и получить честный прогноз результатов в моей нише
	// end sTest