mixin sPositions(data)
	// start sPositions
	+b.SECTION.sPositions.section#sPositions&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sPositions
				
			.row
	// end sPositions