// start .sQuestions
.sQuestions {
	margin-top: -5px;
	position: relative;
	// z-index: 4;
	// background: linear-gradient(to bottom, $primary 0%, rgba(var(--bs-primary-rgb) / 0) 100%);
// background: -webkit-linear-gradient(top, rgba(var(--bs-primary-rgb) / 0) 0%, $primary 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, $primary 100%);
		// --sPT: ;
		// --sPB: ;
			@include media-breakpoint-up(xl) {
				--sTPB: 55px;
			}
			h2{
				@include media-breakpoint-up(xl) {
				max-width: rem(310);
			}
			max-width: rem(410);
			}
			.section-title{
				h2{
					max-width: none;

				}
			}
		.man{

			margin-right: -35px;
			margin-left: -15px;
		}
		.block-panel{
			position: relative;
			&--new{
				@include media-breakpoint-up(xl){
				padding-bottom: 100px !important;
			}
			}
			&::after{
				content: '';
				height: 60px;
				width: 40%;
				left: 30%;
				background-color: #fff;
				z-index: 45;
				position: absolute;
				top: 0;
			}
				@include media-breakpoint-up(xl){
					padding-bottom: 0;
				}
		}
		&__item{
			display: flex;
			max-width: rem(530);
			img{
				flex: 0 0 auto;
				max-width: 100%;
			}
			margin-top: rem(20);
			margin-bottom: rem(25);
			font-weight: 500;
			align-items: center;
			picture{
				margin-right: rem(27);
				display: flex;
				align-items: center;
				justify-content: center;
				align-items: center;
				width: 77px;
				height: 77px;
				flex: 0 0 77px;
				background-color: #f6f7fa;
				border-radius: 50%;
				overflow: hidden;
			}
			}
			&__col{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			&__item-list{
				border-radius: 12px;
				background-color: #ffffff;
				font-weight: 300; 
				padding-left: rem(52);
				max-width: rem(1560);
				&:last-child{
					// margin-bottom: 160px;
					--border: transparent;
				}
				@include mt;
				position: relative;
				&:hover{
					box-shadow: 0 $border-radius 17px 4px rgba(202, 207, 221, 0.21);
					--border: transparent;
					z-index: 4;
				}
			}
			&__text-list{
				@include mt;
				font-size: rem(20);
				padding-top: rem(30);
				padding-bottom: rem(30);
				padding-right: 30px;
				border-bottom: 1px solid var(--border, #e4e6ec);
				display: flex;
				letter-spacing: normal;
				&::before{
					content: '?';
					margin-right: rem(30);
					font-size: rem(30);
					line-height: 1;
					margin-top: em(-1);
					color: #ebc548;
					@extend .mono;
					font-weight: 800;
				}
			}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sQuestions