mixin sCompare(data)
	// start sCompare
	+b.SECTION.sCompare.section#sCompare&attributes(attributes)
		.container
			.block-panel.block-panel--left
				+b.section-title
					h2 95% людей покупают SEO у&nbsp;вчерашних выпускников курсов, думая что работают с&nbsp;опытными спецами
				+e.table
					+e.head
						.row
							+e.col.col-6 Работа с неопытной SEO-компанией
							.col-6
								+e.label
									| Работа с нами
									+pic("love-hand.png",'',0)
					+e.body
						mixin item(data)
							+e.item
								.row
									.col-6!= data.t
									.col-6!= data.p
						+item({
							t:`<strong>Не&nbsp;видно работу</strong> и&nbsp;не&nbsp;понятно, что они делают, а&nbsp;может и&nbsp;не&nbsp;делают`,
							p: `1. <strong>Ежемесячные отчёты </strong>  
							2. Ежедневный доступ к&nbsp;таблице позиций запросов 
	3. Ваш сайт меняется и&nbsp;становится более продающим 4. Вы&nbsp;видите сайт в&nbsp;ТОПе 
	5. Вам поступают заявки от&nbsp;клиентов`
						})
						
						+item({
							t:`Не&nbsp;вносят <strong>никаких улучшений в&nbsp;сайт</strong>, поэтому SEO-продвижение идёт со&nbsp;скрипом и&nbsp;даже находясь в&nbsp;ТОПе некоторые сайты всё равно не&nbsp;приносят клиентов`,
							p: `<strong>Вносим 3-5 визуальных изменения</strong> в&nbsp;ваш сайт ежемесячно. SEO-продвижение идёт бодро, людям нравится сайт, они его смотрят и&nbsp;оставляют контакты`
						})
						+item({
							t:`Используют <strong>1-2&nbsp;SEO-сервиса</strong> для продвижения`,
							p: `<strong>Ежемесячно оплачиваем для работы 7&nbsp;сервисов</strong>. Благодаря сервисам мы&nbsp;видим различные метрики, которые нужно улучшить, чтоб обойти Ваших конкурентов`
						})
						+item({
							t:`<strong>Гарантий нет</strong> или они размыто сформулированы`,
							p: `<strong>Гарантии закреплены в&nbsp;договоре</strong>, можно вернуть деньги в&nbsp;течение 1,5 месяцев просто при желании. На&nbsp;более поздних сроках продвижения, если не&nbsp;достигаем результатов компенсируем контекстной рекламой (пока такого не&nbsp;было)`
						})
						+item({
							t:`После оплаты услуг оказывается, что нужно <strong>ещё доплатить</strong>, нужен бюджет на&nbsp;продвижение`,
							p: `<strong>Всё включено в&nbsp;стоимость</strong>`
						})
						+item({
							t:`Если результат от&nbsp;SEO портится <strong>не&nbsp;могут понять почему</strong>`,
							p: `<strong>Результаты подвержены</strong> лишь низким колебаниям и&nbsp;всегда идут вверх`
						})
						+item({
							t:`Если поймали фильтр поисковика берут деньги за&nbsp;время, пока выходят из&nbsp;него`,
							p: `Ловили фильтр 2&nbsp;раза за&nbsp;12&nbsp;лет. Оба раза бесплатно за&nbsp;1-2 месяца выводили из&nbsp;него сайт клиента.`
						})
						+item({
							t:`Не&nbsp;думают о&nbsp;репутации, ушёл один, придёт другой`,
							p: `Мы&nbsp;не&nbsp;берём проекты, которым явно не&nbsp;подходит SEO. При работе не&nbsp;просто даём хороший результат, но&nbsp;и&nbsp;выстраиваем отношения. Нам важно в&nbsp;работе получать благодарность, а&nbsp;не&nbsp;негатив, потому мы&nbsp;не&nbsp;работаем по&nbsp;принципу конвейера.`
						})
						+item({
							t:`Аудит перед стартом работы делает робот`,
							p: `Аудит делает лично ведущий SEO-специалист и&nbsp;составляет полноценную стратегию продвижения`
						})
						+item({
							t:`SEO не&nbsp;улучшает другую рекламу`,
							p: `Результат в&nbsp;виде заявок от&nbsp;нашего SEO бывает уже через пару недель. Делаем визуальные обновления и&nbsp;клиенты с&nbsp;контекста/таргета лучше оставляют заявки`
						})
						+item({
							t:`Каждый второй клиент отваливается`,
							p: `Не&nbsp;отвалился не&nbsp;один клиент с&nbsp;тех пор, как мы&nbsp;начали делать только SEO и&nbsp;фильтровать проекты`
						})
						+item({
							t:`Результаты от&nbsp;SEO видны только спустя много месяцев, а&nbsp;до&nbsp;этого клиент как на&nbsp;иголках`,
							p: `Вы&nbsp;видите рост позиций уже в&nbsp;первый месяц и&nbsp;понимаете, что результат неизбежен`
						})
						+item({
							t:`Обещают быстрые результаты за&nbsp;счёт чёрного SEO. Домен ловит фильтр поисковика, после чего нужно переделывать сайт и&nbsp;покупать новый домен. При уходе от&nbsp;чёрных SEOшников сайт улетает вниз со&nbsp;скоростью света.`,
							p: `Используем белые методы продвижения. Да, клиенты через 2-4&nbsp;месяца, зато результат стабильный, постоянно улучшающийся. Даже прекратив платить за&nbsp;SEO сайт будет долго опускаться вниз.`
						})
						+item({
							t:`Специалисты зашиваются и&nbsp;начинают косячить`,
							p: `Каждый спец ведёт не&nbsp;более 7&nbsp;проектов, чтобы имел фокус на&nbsp;каждом и&nbsp;не&nbsp;выгорал`
						})
						+item({
							t:`Не&nbsp;обучают своих сотрудников, нанимают тех, кто просит поменьше`,
							p: `Смотрим на&nbsp;человеческие качества всех сотрудников, в&nbsp;обязательном порядке показываем купленный платный курс и&nbsp;отдаём на&nbsp;личное наставничество ведущему SEO-специалисту, почти нет текучки`
						})
						+item({
							t:`Основатель компании не&nbsp;погружён в&nbsp;бизнес и&nbsp;в&nbsp;нововведения в&nbsp;SEO`,
							p: `Основатель компании Сергей в&nbsp;SEO уже более 12&nbsp;лет, образование программиста. Лично ведёт 2-3&nbsp;проекта, чтобы оставаться &laquo;в&nbsp;теме&raquo;. Лично участвует в&nbsp;общении с&nbsp;клиентами.`
						})
						+item({
							t:`Долго не&nbsp;отвечают на&nbsp;сообщения, не&nbsp;стремятся решить ваш вопрос`,
							p: `На&nbsp;связи ежедневно с&nbsp;9:00-22:00, ответим в&nbsp;течение часа и&nbsp;гарантируем вовлечение в&nbsp;разговор и&nbsp;оперативное решение задач`
						})
						+item({
							t:`Делают комплекс услуг, поэтому не&nbsp;достаточно глубоко погружены в&nbsp;SEO`,
							p: `Тоже делали комплекс раньше, но&nbsp;ушли только в&nbsp;SEO`
						})
						+item({
							t:`Продвигают только сайты полностью написаные на&nbsp;коде`,
							p: `Успешно работаем с&nbsp;многостраничниками даже на&nbsp;конструкторах`
						})
						+item({
							t:`Часто не&nbsp;разбираются в&nbsp;языках программирования, чего недостаточно для качественного SEO`,
							p: `В&nbsp;штате есть программисты`
						})
						+item({
							t:`Отсутствует техническая поддержка`,
							p: `Берём ответственность за&nbsp;работу вашего сайта вплоть до&nbsp;охраны от&nbsp;вирусов и&nbsp;взлома`
						})

	// end sCompare
mixin sCompare(data)
	// start sCompare
	+b.SECTION.sCompare--new.section#sCompare&attributes(attributes)
		.container
			.block-panel.block-panel--left
				+b.section-title
					h2 95% людей покупают SEO у&nbsp;вчерашних выпускников курсов, думая что работают с&nbsp;опытными спецами
				+e.table
					+e.head
						.row
							+e.col.col-6 Работа с неопытной SEO-компанией
							.col-6
								+e.label.py-2
									| Работа с нами
									//- +pic("love-hand.png",'',0)
					+e.body
						mixin item(data)
							+e.item
								.row
									.col-6!= data.t
									.col-6!= data.p
						+item({
							t:`<strong>Не&nbsp;видно работу</strong> и&nbsp;не&nbsp;понятно, что они делают, а&nbsp;может и&nbsp;не&nbsp;делают`,
							p: `1. <strong>Ежемесячные отчёты </strong>  
							2. Ежедневный доступ к&nbsp;таблице позиций запросов  3. Ваш сайт меняется и&nbsp;становится более продающим 4. Вы&nbsp;видите сайт в&nbsp;ТОПе 5. Вам поступают заявки от&nbsp;клиентов`
						})
						
						+item({
							t:`Не&nbsp;вносят <strong>никаких улучшений в&nbsp;сайт</strong>, поэтому SEO-продвижение идёт со&nbsp;скрипом и&nbsp;даже находясь в&nbsp;ТОПе некоторые сайты всё равно не&nbsp;приносят клиентов`,
							p: `<strong>Вносим 3-5 визуальных изменения</strong> в&nbsp;ваш сайт ежемесячно. SEO-продвижение идёт бодро, людям нравится сайт, они его смотрят и&nbsp;оставляют контакты`
						})
						+item({
							t:`Используют <strong>1-2&nbsp;SEO-сервиса</strong> для продвижения`,
							p: `<strong>Ежемесячно оплачиваем для работы 7&nbsp;сервисов</strong>. Благодаря сервисам мы&nbsp;видим различные метрики, которые нужно улучшить, чтоб обойти Ваших конкурентов`
						})
						+item({
							t:`<strong>Гарантий нет</strong> или они размыто сформулированы`,
							p: `<strong>Гарантии закреплены в&nbsp;договоре</strong>, можно вернуть деньги в&nbsp;течение 1,5 месяцев просто при желании. На&nbsp;более поздних сроках продвижения, если не&nbsp;достигаем результатов компенсируем контекстной рекламой (пока такого не&nbsp;было)`
						})
						+item({
							t:`После оплаты услуг оказывается, что нужно <strong>ещё доплатить</strong>, нужен бюджет на&nbsp;продвижение`,
							p: `<strong>Всё включено в&nbsp;стоимость</strong>`
						})
						+item({
							t:`Если результат от&nbsp;SEO портится <strong>не&nbsp;могут понять почему</strong>`,
							p: `<strong>Результаты подвержены</strong> лишь низким колебаниям и&nbsp;всегда идут вверх`
						})
						+item({
							t:`Если поймали фильтр поисковика берут деньги за&nbsp;время, пока выходят из&nbsp;него`,
							p: `Ловили фильтр 2&nbsp;раза за&nbsp;12&nbsp;лет. Оба раза бесплатно за&nbsp;1-2 месяца выводили из&nbsp;него сайт клиента.`
						})
						+item({
							t:`Не&nbsp;думают о&nbsp;репутации, ушёл один, придёт другой`,
							p: `Мы&nbsp;не&nbsp;берём проекты, которым явно не&nbsp;подходит SEO. При работе не&nbsp;просто даём хороший результат, но&nbsp;и&nbsp;выстраиваем отношения. Нам важно в&nbsp;работе получать благодарность, а&nbsp;не&nbsp;негатив, потому мы&nbsp;не&nbsp;работаем по&nbsp;принципу конвейера.`
						})
						+item({
							t:`Аудит перед стартом работы делает робот`,
							p: `Аудит делает лично ведущий SEO-специалист и&nbsp;составляет полноценную стратегию продвижения`
						})
						+item({
							t:`SEO не&nbsp;улучшает другую рекламу`,
							p: `Результат в&nbsp;виде заявок от&nbsp;нашего SEO бывает уже через пару недель. Делаем визуальные обновления и&nbsp;клиенты с&nbsp;контекста/таргета лучше оставляют заявки`
						})
						+item({
							t:`Каждый второй клиент отваливается`,
							p: `Не&nbsp;отвалился не&nbsp;один клиент с&nbsp;тех пор, как мы&nbsp;начали делать только SEO и&nbsp;фильтровать проекты`
						})
						+item({
							t:`Результаты от&nbsp;SEO видны только спустя много месяцев, а&nbsp;до&nbsp;этого клиент как на&nbsp;иголках`,
							p: `Вы&nbsp;видите рост позиций уже в&nbsp;первый месяц и&nbsp;понимаете, что результат неизбежен`
						})
						+item({
							t:`Обещают быстрые результаты за&nbsp;счёт чёрного SEO. Домен ловит фильтр поисковика, после чего нужно переделывать сайт и&nbsp;покупать новый домен. При уходе от&nbsp;чёрных SEOшников сайт улетает вниз со&nbsp;скоростью света.`,
							p: `Используем белые методы продвижения. Да, клиенты через 2-4&nbsp;месяца, зато результат стабильный, постоянно улучшающийся. Даже прекратив платить за&nbsp;SEO сайт будет долго опускаться вниз.`
						})
						+item({
							t:`Специалисты зашиваются и&nbsp;начинают косячить`,
							p: `Каждый спец ведёт не&nbsp;более 7&nbsp;проектов, чтобы имел фокус на&nbsp;каждом и&nbsp;не&nbsp;выгорал`
						})
						+item({
							t:`Не&nbsp;обучают своих сотрудников, нанимают тех, кто просит поменьше`,
							p: `Смотрим на&nbsp;человеческие качества всех сотрудников, в&nbsp;обязательном порядке показываем купленный платный курс и&nbsp;отдаём на&nbsp;личное наставничество ведущему SEO-специалисту, почти нет текучки`
						})
						+item({
							t:`Основатель компании не&nbsp;погружён в&nbsp;бизнес и&nbsp;в&nbsp;нововведения в&nbsp;SEO`,
							p: `Основатель компании Сергей в&nbsp;SEO уже более 12&nbsp;лет, образование программиста. Лично ведёт 2-3&nbsp;проекта, чтобы оставаться &laquo;в&nbsp;теме&raquo;. Лично участвует в&nbsp;общении с&nbsp;клиентами.`
						})
						+item({
							t:`Долго не&nbsp;отвечают на&nbsp;сообщения, не&nbsp;стремятся решить ваш вопрос`,
							p: `На&nbsp;связи ежедневно с&nbsp;9:00-22:00, ответим в&nbsp;течение часа и&nbsp;гарантируем вовлечение в&nbsp;разговор и&nbsp;оперативное решение задач`
						})
						+item({
							t:`Делают комплекс услуг, поэтому не&nbsp;достаточно глубоко погружены в&nbsp;SEO`,
							p: `Тоже делали комплекс раньше, но&nbsp;ушли только в&nbsp;SEO`
						})
						+item({
							t:`Продвигают только сайты полностью написаные на&nbsp;коде`,
							p: `Успешно работаем с&nbsp;многостраничниками даже на&nbsp;конструкторах`
						})
						+item({
							t:`Часто не&nbsp;разбираются в&nbsp;языках программирования, чего недостаточно для качественного SEO`,
							p: `В&nbsp;штате есть программисты`
						})
						+item({
							t:`Отсутствует техническая поддержка`,
							p: `Берём ответственность за&nbsp;работу вашего сайта вплоть до&nbsp;охраны от&nbsp;вирусов и&nbsp;взлома`
						})
				button.btn.btn-gradient.btn-more-js показать еще
	// end sCompare
